body {
	margin: 0;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

div {
	box-sizing: border-box;
}

#headerWrapper {
	height: 100px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
}

#sidebarWrapper {
	height: 500px;
	width: 20%;
	min-width: 400px;
	background-color: black;
	overflow-y: scroll;
}